---
title: Invoice Honey
---

<div class="welcome">
  <div class="logo">
    <%= image_tag "logo-text.png" %>
  </div>
  <h1>Get paid in multiple channels!</h1>
</div><!-- .welcome -->

<%= image_tag "comming-soon.png", width: '120', height: '75', class: "comming-soon"%>

<footer>
	<div>HEYOOK INC.</div>
	<div>MADE WITH <i class='fa fa-heart'></i> IN LA</div>
</footer>
